<!--Banner Sections-->
<section id="banner" class="banner">

    <div class="text-center">
          <div class="banner_text">
              <h1>we geeks get it done</h1>
              <h2>Whatever you are a computer geek or a techno geek,<br>
              you can always find your dream job here.</h2>
            </div>
        </div>
        <a class="button" href="/jobs">Apply Now</a>
  </section> <!--End off Banner Sections-->

  <!--Company Section-->
<section id="company" class="bg-white">
  <div class="container">
      <h3 class="title">
        1500+ Top Tech Companies Here
      </h3>
      <br/>
      <div class="container" id="features">
    	<div class="row">
    		  <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-amazon" aria-hidden="true"></i>
              <h4>Amazon</h4>
    		  </div>
          <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-weixin" aria-hidden="true"></i>
              <h4>Tencent</h4>
    		  </div>
          <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <h4>Instagram</h4>
    		   </div>
           <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-hacker-news" aria-hidden="true"></i>
              <h4>Hacker News</h4>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 feature">
        	     <i class="fa fa-stack-overflow" aria-hidden="true"></i>
               <h4>Stack Overflow</h4>
    		  </div>
          <div class="col-md-2 col-sm-4 col-xs-6 feature">
        	    <i class="fa fa-dropbox" aria-hidden="true"></i>
                <h4>Dropboxe</h4>
    		  </div>
    	</div>
      <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-bandcamp" aria-hidden="true"></i>
                <h4>Bandcamp</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-skype" aria-hidden="true"></i>
                <h4>Skype</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
                <h4>dribbble</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-digg" aria-hidden="true"></i>
                <h4>Digg</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-spotify" aria-hidden="true"></i>
                <h4>Spotify</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 feature">
              <i class="fa fa-pied-piper-pp" aria-hidden="true"></i>
                <h4>Pied Piper</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Company Section-->

<br/><br/>

<!--Service Sction -->
<section id="why_us" class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="service_content_area">
    <!-- Service LEFT SIDE -->
    <div class="col-md-4 service_left wow fadeInLeft">
        <!-- Service -->

        <div class="service_items">
            <div class="row">
                <div class="col-xs-9">
                    <div class="text-left service_left_text">
                        <h4 class="main-color">Geek Oriented</h4>
                        <p>Over 2000+ high tech job vacancies are available. <br/>All employers here understand and share geek culture.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Single Service item -->

      <!-- Service -->
      <div class="service_items">
          <div class="row">
              <div class="col-xs-9">
                  <div class="text-left service_left_text">
                      <h4 class="main-color">Quick Notice</h4>
                      <p>Notice will be sent once your CV status is changed. </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- end Single Service item -->

    </div>
    <!-- /END Service LEFT -->

    <!-- PIC IMAGE -->
    <div class="col-md-4 sm-m-top-40 sm-text-center">
      <div class="img">
          <br/><br/><br/>
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fec3ceeeiej309i0793ys.jpg"  alt="Architect Img">
      </div>
    </div>

    <!-- Service RIGHT -->
<div class="col-md-4 service_right sm-m-top-40" >

    <!-- Service -->
    <div class="service_items">
        <div class="row">
            <div class="col-xs-9">
                <div class="service_right_text p-l-15 text-right">
                    <h4 class="main-color">Premium Support</h4>
                    <p>Relevant vacancies are recommended. <br/> Industry analysis is provided.</p>
                </div>
            </div>
        </div>
    </div><!-- end Single Service item -->

    <!-- Service -->
    <div class="service_items">
        <div class="row">
            <div class="col-xs-9">
                <div class="service_right_text p-l-15 text-right">
                    <h4 class="main-color">And Much More</h4>
                    <p>You can visit geek career anytime anywhere, <br/> on the phone / pad / watch / computer.</p>
                </div>
            </div>
        </div>
    </div><!-- end Single Service item -->

</div><!-- /END Service RIGHT -->
</div>
</div> <!--End off row -->
</div>
</section> <!--End off Service section -->


<!--Banner Sections-->
<section class="bg-white">
  <div class="container text-center">
    <h3 class="title">Browse Your Jobs</h3>

        <ul class="category">
          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=程序员">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww4.sinaimg.cn/large/006tNbRwgy1fef0c72asij31hc0zk7jh.jpg" alt="">
              </div>
              <div class="box-title">Web Developer</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=产品经理">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fef01dccxkj31230pwdy0.jpg" alt="">
              </div>
              <div class="box-title">Mobile Developer</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=金融">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fef20miofej30el0a2ta3.jpg" alt="">
              </div>
              <div class="box-title">Game Developer</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=设计师">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fef0enp8cnj31kw11x1kx.jpg" alt="">
              </div>
              <div class="box-title">Designer</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=运营">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fef0gs6g46j30sg0iz445.jpg" alt="">
              </div>
              <div class="box-title">Data Analyst</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=市场与销售">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fef0ad1svgj30xc0m80uz.jpg" alt="">
              </div>
              <div class="box-title">Product Manager</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=职能">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fef18sa0a5j30qu0h9dtr.jpg" alt="">
              </div>
              <div class="box-title">Social Media Operator</div>
            </a>
          </li>

          <li class-"col-md-3 col-sm-4 col-xs-6">
            <a href="/jobs/search?utf8=✓&q=金融">
              <div class="category-img-wrap">
                <img class="project-img img-responsive" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fef1z1jnyxj30m80estdg.jpg" alt="">
              </div>
              <div class="box-title">Business Developer</div>
            </a>
          </li>
        </ul>

  </div>
</section>


<section class="bg-gray">
  <h1 class="slogan"> We don't do Average. We do Exceptional.</h1>
</section>


<section class="banner_bottom">
    <a class="button" href="/jobs">Apply Now</a><br>
</section>
