<br/>
<br/>

<!--Banner Sections-->
<section id="banner" class="home bg-mega">
    <div class="container">
      <div class="row">
        <div class="home_text">
          <div class="main_home">
              <h1>we geeks get it done</h1>
              <h2>Whatever you are a computer geek, a techno-geek, or a gamer geek,
                <br/> you can always find your dream job here. </h2>
                <br/>
                <br/>
              <div class="lead"><a class="button" href="/jobs">Apply Now</a></div>
          </div>
        </div>
      </div>
    </div><!--End off row-->
  </div><!--End off container -->
</section> <!--End off Banner Sections-->

<!--Company Section-->
<section id="company">
  <h3 class="title">
    1500+ Top Tech Companies Here
  </h3>
  <br/>
  <div class="container" id="features">
	<div class="row">
		  <div class="col-md-2 feature">
          <i class="fa fa-amazon" aria-hidden="true"></i>
          <h4>Amazon</h4>
		  </div>
      <div class="col-md-2 feature">
          <i class="fa fa-weixin" aria-hidden="true"></i>
          <h4>Tencent</h4>
		  </div>
      <div class="col-md-2 feature">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <h4>Instagram</h4>
		   </div>
       <div class="col-md-2 feature">
          <i class="fa fa-hacker-news" aria-hidden="true"></i>
          <h4>Hacker News</h4>
      </div>
      <div class="col-md-2 feature">
    	     <i class="fa fa-stack-overflow" aria-hidden="true"></i>
           <h4>Stack Overflow</h4>
		  </div>
      <div class="col-md-2 feature">
    	    <i class="fa fa-dropbox" aria-hidden="true"></i>
            <h4>Dropboxe</h4>
		  </div>
	</div>
  <div class="row">
      <div class="col-md-2 feature">
          <i class="fa fa-bandcamp" aria-hidden="true"></i>
            <h4>Bandcamp</h4>
    </div>
    <div class="col-md-2 feature">
          <i class="fa fa-skype" aria-hidden="true"></i>
            <h4>Skype</h4>
    </div>
    <div class="col-md-2 feature">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
            <h4>dribbble</h4>
    </div>
    <div class="col-md-2 feature">
          <i class="fa fa-digg" aria-hidden="true"></i>
            <h4>Digg</h4>
    </div>
    <div class="col-md-2 feature">
          <i class="fa fa-spotify" aria-hidden="true"></i>
            <h4>Spotify</h4>
    </div>
    <div class="col-md-2 feature">
          <i class="fa fa-ravelry" aria-hidden="true"></i>
            <h4>Ravelry</h4>
    </div>
  </div>
</div>
</section>
<!--Company Section-->

<br/><br/>

<!--Service Sction -->
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="service_content_area">
    <!-- Service LEFT SIDE -->
    <div class="col-md-4 service_left wow fadeInLeft">
        <!-- Service -->

        <div class="service_items">
            <div class="row">

                <div class="col-xs-9">
                    <div class="text-left service_left_text">
                        <h4 class="main-color">Geek Oriented</h4>
                        <p>Over 2000+ high tech job vacancies are available, and all employers here understand and share geek culture.</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- end Single Service item -->

      <!-- Service -->
      <div class="service_items">
          <div class="row">
              <div class="col-xs-9">
                  <div class="text-left service_left_text">
                      <h4 class="main-color">Quick Notice</h4>
                      <p>Notice will be sent once your CV is read or interview invitations are sent by employers. </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- end Single Service item -->

    </div>
    <!-- /END Service LEFT -->

    <!-- PIC IMAGE -->
    <div class="col-md-4 sm-m-top-40 sm-text-center">
        <div class="service_pic">
          <br/><br/><br/>
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fe688lyxraj30au088wr5.jpg" alt="Architect Img">
        </div>
    </div>

    <!-- Service RIGHT -->
<div class="col-md-4 service_right sm-m-top-40" >

    <!-- Service -->
    <div class="service_items">
        <div class="row">
            <div class="col-xs-9">
                <div class="service_right_text p-l-15 text-right">
                    <h4 class="main-color">Premium Support</h4>
                    <p>Relevant vacancies are recommended. Industry analysis is provided.</p>
                </div>
            </div>
        </div>
    </div><!-- end Single Service item -->

    <!-- Service -->
    <div class="service_items">
        <div class="row">
            <div class="col-xs-9">
                <div class="service_right_text p-l-15 text-right">
                    <h4 class="main-color">And Much More</h4>
                    <p>Geek career is available on the phone, the pad, the watch, and the computer.</p>
                </div>
            </div>
        </div>
    </div><!-- end Single Service item -->

</div><!-- /END Service RIGHT -->
</div>
</div> <!--End off row -->
</div>
</section> <!--End off Service section -->
