<br/>
<br/>

<section id="banner" class="home bg-mega">
    <div class="container">
      <div class="row">
        <div class="home_text">
          <div class="main_home">
              <h1>we geeks get it done</h1>
              <h2>Whatever you are a computer geek, a techno-geek, or a gamer geek,
                <br/> you can always find your dream job here. </h2>
                <br/>
                <br/>
              <div class="lead"><a class="button" href="/jobs">Apply Now</a></div>
          </div>
        </div>
      </div>
    </div><!--End off row-->
  </div><!--End off container -->
</section> <!--End off Home Sections-->

<section id="company">
  <p class="title">
    Top Tech Companies Here
  </p>
  <div class="container" id="features">
	<div class="row">
		<div class="col-md-3 feature">
    	    <i class="fa fa-amazon"></i>
            <h3>Amazon</h3>
            <div class="title_border"></div>
		</div>
        <div class="col-md-3 feature">
            <i class="fa fa-weixin"></i>
            <h3>Wechat</h3>
            <div class="title_border"></div>
		</div>
        <div class="col-md-3 feature">
            <i class="fa fa-google"></i>
            <h3>google</h3>
            <div class="title_border"></div>
		</div>
        <div class="col-md-3 feature">
            <i class="fa fa-flickr"></i>
            <h3>flickr</h3>
            <div class="title_border"></div>
    </div>
	</div>
</div>
</section>
