<br/>
<br/>

<section id="hello" class="home bg-mega">
    <div class="container">
      <div class="row">
        <div class="home_text">
          <div class="main_home">
              <h1>we geeks get it done</h1>
              <h2>Whatever you are a computer geek, a techno-geek, or a gamer geek,
                <br/> you can always find your dream job here. </h2>
                <br/>
                <br/>
    <div class="lead"><a class="button" href="/jobs">Apply Now</a></div>
          </div>
        </div>
      </div>
    </div><!--End off row-->
  </div><!--End off container -->
</section> <!--End off Home Sections-->
