/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

/*All Banner style*/
.home{
    background-size: cover;
    position: relative;
}

.home{
    background: url('https://ww1.sinaimg.cn/large/006tKfTcgy1fe52imb6toj30zk0fen03.jpg');
    background-repeat: no-repeat;
}

/*Banner Section style
==================*/
.main_home{
    overflow: hidden;
    padding-top: 180px;
    padding-bottom: 230px;
    position: relative;
    z-index: 1;
    margin-top: -140px;
}

.home_text h1{
    font-family: 'Raleway', sans-serif;
    font-size:6rem;
    font-weight: 200;
    line-height: 13rem;
    color: white;
    letter-spacing: 9px;
    text-align: center;
    text-transform: uppercase;
}

.home_text h2{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    font-weight: 200;
    line-height: 5rem;
    color: white;
    text-align: center;
}

.button {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 5px auto;
  max-width: 140px;
  text-decoration: none;
  border-radius: 15px;
  padding: 20px;
  color: rgba(250, 250, 250, 0.6);
  box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: rgba(242, 242, 242, 0.5) 0 0px 0px 40px inset;
}


/*Company Section style
==================*/
.title {
  margin-top: -140px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size:28px;
  font-weight: 200;
  line-height: 5rem;
  letter-spacing: 3px;
}

#features {
    margin-top:20px;
}
.feature, .feature i, .feature h3, .feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.feature {
    background:#FFFFFF;
    text-align:center;
    padding:20px;
    border: solid 1px #cccccc;
}
.feature p {
    margin-top:20px;
    margin-bottom:30px;
}
.feature i{
    font-size:80px;
    color:#FFFFFF;
    background:#1E825F;
    padding:30px;
    border-radius:50%;
    border: solid 3px #1E825F;
}
.feature h3 {
    color:#1E825F;
}
.feature:hover {
    background:#F5F5F5;
    -webkit-transform: translate(0,1em);
    -moz-transform: translate(0,1em);
    -o-transform: translate(0,1em);
    -ms-transform: translate(0,1em);
    transform: translate(0,1em);
}
.feature:hover i{
    color:#1E825F;
    border-color:#1E825F;
    background:#FFFFFF;
}
.feature:hover .title_border {
    background-color:#1E825F;
    width:50%;
}
.feature .title_border {
    width: 0%;
    height: 3px;
    background:#1E825F;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}
