/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

body {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.bg-white {
  font-family: 'PT Sans', sans-serif;;
  padding: 50px 50px 18px;

}

.bg-gray {
  background-color: #f7f7f7;
  margin-left: -15px;
  margin-right: -15px;
  font-family: sans-serif;
  font-family: 'PT Sans', sans-serif;;
}

.foot {
  margin-left: 0.3em
}

/*Banner Section style
==================*/
.banner{
    background-image: url('https://ww1.sinaimg.cn/large/006tKfTcgy1fe52imb6toj30zk0fen03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: top center;
    height: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    margin:0 -15px 20px;
  }

.banner_text h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size:6rem;
    font-weight: 200;
    line-height: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.banner_text h2{
    font-family: 'Open Sans', sans-serif;
    font-size:2.5rem;
    font-weight: 200;
    line-height: 5rem;
    margin:0px 1rem 5rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
}

.button {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 140px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  color: rgba(250, 250, 250, 0.6);
  box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: rgba(242, 242, 242, 0.5) 0 0px 0px 40px inset;
}


/*Company Section style
==================*/
.title {
  text-align: center;
  font-size:3.5rem;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 0.1rem;
  color: #333333;
  letter-spacing: 0.1rem;
}

#features {
    margin-top:17px;
}
.feature, .feature i, .feature h3, .feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.feature {
    background:#FFFFFF;
    text-align:center;
    padding:2em;
}

.feature i{
    font-size:3em; /*-- 要修改！！ --*/
    padding:0.5em;
    color:#FFFFFF;
    background:#808080;
    border-radius:50%;
    border: solid 3px #808080;
}

.feature h4 {
  color: #fff;
}

.feature:hover h4 {
    color:#808080;
}
.feature:hover {
    background:#fff;
    -webkit-transform: translate(0,1em);
    -moz-transform: translate(0,1em);
    -o-transform: translate(0,1em);
    -ms-transform: translate(0,1em);
    transform: translate(0,1em);
}
.feature:hover i{
    color:#565656;
    border-color:#808080;
    background:#fff;
}

/*
service section style
========================*/

.service_items {
    margin: 80px 0;
}

.service_pic {
  margin-right: 80px;
}

.service_left_text h4,
.service_right_text h4 {
  font-weight: 400;
  font-size:1.3em;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: -80px;
}

.service_left_text p,
.service_right_text p {
  font-size:1em;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: -80px;
}
