// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content {
  margin-top: 7em;
  color: #636262;
}

.job_body {
  padding: 10em auto;
}

.job_title {
  font-size: 1.1em;
}

.job_details {
  font-size: 1em;

}
