<footer class="footer">
  <div class="container">

    <div class="navbar-text pull-left">
      <p class="footer-text"> Copyright ©2017 geekcareer Designed by Sylvia Lyu</p>
    </div>


    <ul class="footer_icon">
      <li>
          <a href="https://github.com/sylvialyu" class="fa fa-github" aria-hidden="true" target="_blank"></a>
      </li>
      <li>
          <a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true" target="_blank"></a>
      </li>
      <li>
          <a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
      </li>
      <li>
          <a href="https://www.rss.com/" class="fa fa-rss" aria-hidden="true" target="_blank"></a>
      </li>
    </ul>


  </div>
</footer>
