<footer class="footer">
  <div class="container">

    <div class="navbar-text pull-left">
      <p class="footer-text"> Copyright ©2017 geekcareer Designed by Sylvia Lyu</p>
    </div>

  </div>
</footer>
